<%
  projects = @items.reverse.select {|it| 
    it.identifier =~ %r{/projekte} && it.binary? == false
  }
%>

<% projects.each do |project| %>
  
  <div class="content_box_1">
      <img class="image" src="http://felixfaerber.de/content/30/4_600x450.jpg" alt="ff_logo">
      <div class="content_box">
        <div class="content">
        <h2><%= project[:title] %></h2>
        <p><%= project[:summary] %></p>
        </div>
      </div>
  </div>
  <div class="clear"></div>
<% end %>