<%
  projects = @items.reverse.select {|it| 
    it.identifier =~ %r{/projekte} && it.binary? == false
  }
%>

<% projects.each do |project| %>
  
  <div class="content_box_1">
      <img class="image" src=<%= "#{project.path}media/1_thumbnail.jpg" %> alt="ff_logo">
      <div class="content_box">
        <div class="content">
        <h2><%= project[:title] %></h2>
        <p><%= project[:summary] %></p>
        <a href=<%= project.path %>>mehr info</a>
        </div>
      </div>
  </div>
  <div class="clear"></div>
<% end %>