---
title: Wernesgrüner
summary: Der neue Online-Auftritt der Wernesgrüner Brauerei ist ab sofort jünger, frischer und urbaner. In der Umsetzung wurde auf viel Text verzichtet - stattdessen sprechen großformatige Bilder und Filmsequenzen, quasi ohne Ladezeiten, für die Marke.
 
date: 01.2010
---



<div class="content_box_2">

    <img class="image" src=<%= "#{item.path}media/1.jpg" %> alt="ff_logo">
	
	<%= item.compiled_content(:rep => :image) %>

    <div class="content_box">
      <div class="content">
    	<h2>Wernesgrüner</h2>
		<p>
		Der neue Online-Auftritt der Wernesgrüner Brauerei ist jünger, frischer und urbaner. In der Umsetzung wurde auf viel Text verzichtet - stattdessen sprechen großformatige Bilder und Filmsequenzen, quasi ohne Ladezeiten, für die Marke.</p>
		<p>website: <a href="http://www.wernesgruener.de/">www.wernesgruener.de</a></p>
		<p>Kunde: <a href="http://heye-digital-lab.de">heye-digital-lab</a></p>
		
		<br>
		<h3>Technik:</h3>
		<p>Die neue Flash Site ist in Flash 10 gebaut. Alle Inhalte und Positionen lassen sich via XML beschreiben. Dazu wurde ein 		benutzerfreundliches CMS gebaut, mit dem sich die Inhalte zeitsparend über eine grafische Benutzeroberfläche verwalten lassen.</p>
		
		<p>Entwicklungszeit: 2 Monate</p>
		<p><a href="http://www.adobe.com/de/products/flashplayer.html">Flash</a>, 
		<a href="http://puremvc.org/">PureMVC</a>, 
		<a href="http://expressionengine.com/">ExpressionEngine</a></p>

      </div>
    </div>
</div>
<div class="clear"></div>